.Navbar {
  height: 80px;
  width: 100%;
  background-color: rgba(19, 14, 14, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0 4px 8px rgba(72, 38, 221, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  
}

.Nav-title h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0px 15px;
  text-align: center;

  background: linear-gradient(to right, white, #4da3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/*.Nav-title h1 {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0px 15px;
  text-align: center;
}*/

.Nav-links {
  display: flex;
  gap: 20px;
  padding-right: 35px;
}

.Nav-links a {
  color: #6ca0ff;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 6px 14px;
  border-radius: 6px;
}

.Nav-links a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
}
