
.pop-add {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
 
}

/* contenu de popup */
.popup-containeX {
  width: 450px;
  background: rgb(13, 17, 23,0.6);
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  animation: fadeIn 0.3s ease;
  color: white;
}

/* Header */
.popup-header {
  display: flex;
  color:#2f81f7;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.popup-header h2 {
  margin: 0;
  font-size: 22px;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
  color: white;
  width: 40px;
  height: 40px;
}
.close-btn:hover { color: #349cb6; }

/* Form inputs */
.popup-form label {
  font-size: 25px;
  opacity: 0.9;
  color: #2f81f7;;
}

.popup-form input,
.popup-form textarea,
.popup-form select {
  width: 100%;
  padding: 12px;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
  margin: 6px 0 18px;
  color: white;
  font-size: 14px;
}

.popup-form textarea {
  height: 90px;
  resize: none;
}

/* Row of 2 columns */
.row {
  display: flex;
  gap: 15px;
}

.column {
  flex: 1;
}

/* Buttons */
.btn-row {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.cancel-btn {
  padding: 10px 18px;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #1d222b;
}

.create-btn {
  padding: 10px 20px;
  background: #2f81f7;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.create-btn:hover {
  background: #1f6feb;
}